{% extends "base.html" %}

{% block content %}

    <style>
        .user-card {
        {#box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);#}
            max-width: 300px;
            margin: auto;
            text-align: center;
            background-color: #000000;
            color: #ffffff;
        }
        .card-content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            grid-gap: 2rem;
            margin: 5rem;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        h1 {
            padding: 10px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #EF8606FF;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            width: 100%;
            font-size: 0.75rem;
            letter-spacing: 0.15em;
            transition: all 0.3s ease;
        }
         button:hover {
             border: 6px solid #C26105FF;
        }
         a {
             background-color: orange;
         }
         .settings-btn {
             width: 25%;
         }
         input {
             text-align: center;
         }
    </style>
    <h1 class="title">Admin Panel</h1>



        <h4 class="title is-4">Current Users</h4>

            {% if current_users %}
                <div class="card-content">
                    {% for user in current_users %}
                        <div class="user-card">
                          <h1>{{ user.firstname }} {{ user.surname }}</h1>
                          <p class="title">{{ user.role }} {{ user.id }} </p>
                            <p>{{ user.email }}</p>
                          <button><a href="{{ url_for('admin.delete_user',id=user.id) }}">Remove User</a></button>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="POST" action="/view_all_users">
                <div>
                    <button class="settings-btn">View All Users</button>


    <h2 class="title is-2">Supplier Preferences</h2>
        <div class="box">
            {% if suppliers %}
                <div class="field">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Blacklisted</th>
                            <th>Favourited</th>
                        </tr>
                        {% for supplier in suppliers %}
                            <tr>
                                <td>{{ supplier.name }}</td>
                                <td>{{ supplier.blacklisted }}</td>
                                <td>{{ supplier.favourited }}</td>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            <form method="POST" action="/view_suppliers_Preferences">
                <div>
                    <button class="settings-btn">Preferences</button>
                </div>
            </form>
        </div>
    </div>



    <div class="column is-8 is-offset-2">
        <h4 class="title is-4">Favourite Supplier</h4>
        <div class="box">
            <form method="POST" action="/favourite_supplier">

                <div class="columns is-multiline is-centered">

                    <div class="column is-one-sixth">
                        <input class="input" name="favourite_supplier" placeholder="Enter Supplier Name">
                    </div>

                <div>
                    <button class="settings-btn">Favourite Supplier</button>
                </div>

            </form>
        </div>
    </div>



    <div class="column is-8 is-offset-2">
        <h4 class="title is-4">Removed Supplier Preference</h4>
        <div class="box">
            <form method="POST" action="/remove_preference">

                <div class="columns is-multiline is-centered">

                    <div class="column is-one-sixth">
                        <input class="input" name="remove_preference" placeholder="Enter Supplier Name">
                    </div>

                <div>
                    <button class="settings-btn">Remove Preference</button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}