{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='rng.js') }}"></script>
    <h1>Admin</h1>


    <div class="column is-10 is-offset-1">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}


        <h2 class="title is-2">Application Users</h2>
        <div class="box">
            {% if users %}
                <div class="field">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.surname }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            <form method="POST" action="/view_users">
                <div>
                    <button class="button is-info is-centered">View Users</button>
                </div>
            </form>
        </div>
    </div>


    <div class="column is-8 is-offset-2">
        <h4 class="title is-4">Removed User</h4>
        <div class="box">
            <form method="POST" action="/remove_user">

                <div class="columns is-multiline is-centered">

                    <div class="column is-one-sixth">
                        <input class="input" name="remove_user" placeholder="Enter User ID">
                    </div>

                <div>
                    <button class="button is-info is-centered">Remove User</button>
                </div>

            </form>
        </div>
    </div>


    <h2 class="title is-2">Supplier Preferences</h2>
        <div class="box">
            {% if suppliers %}
                <div class="field">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Blacklisted</th>
                            <th>Favourited</th>
                        </tr>
                        {% for supplier in suppliers %}
                            <tr>
                                <td>{{ supplier.name }}</td>
                                <td>{{ supplier.blacklisted }}</td>
                                <td>{{ supplier.favourited }}</td>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            <form method="POST" action="/view_suppliers_Preferences">
                <div>
                    <button class="button is-info is-centered">Preferences</button>
                </div>
            </form>
        </div>
    </div>


    <div class="column is-8 is-offset-2">
        <h4 class="title is-4">Blacklist Supplier</h4>
        <div class="box">
            <form method="POST" action="/blacklist_supplier">

                <div class="columns is-multiline is-centered">

                    <div class="column is-one-sixth">
                        <input class="input" name="blacklisted_supplier" placeholder="Enter Supplier Name">
                    </div>

                <div>
                    <button class="button is-info is-centered">Blacklist Supplier</button>
                </div>

            </form>
        </div>
    </div>


    <div class="column is-8 is-offset-2">
        <h4 class="title is-4">Favourite Supplier</h4>
        <div class="box">
            <form method="POST" action="/favourite_supplier">

                <div class="columns is-multiline is-centered">

                    <div class="column is-one-sixth">
                        <input class="input" name="favourite_supplier" placeholder="Enter Supplier Name">
                    </div>

                <div>
                    <button class="button is-info is-centered">Favourite Supplier</button>
                </div>

            </form>
        </div>
    </div>


    <div class="column is-8 is-offset-2">
        <h4 class="title is-4">Removed Supplier Preference</h4>
        <div class="box">
            <form method="POST" action="/remove_preference">

                <div class="columns is-multiline is-centered">

                    <div class="column is-one-sixth">
                        <input class="input" name="remove_preference" placeholder="Enter Supplier Name">
                    </div>

                <div>
                    <button class="button is-info is-centered">Remove Preference</button>
                </div>

            </form>
        </div>
    </div>


{% endblock %}