{% extends "base.html" %}

{% block content %}
    <style>
        .user-card {
        {#box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);#}
            max-width: 300px;
            margin: auto;
            text-align: center;
            background-color: #000000;
            color: #ffffff;
        }
        .card-content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            grid-gap: 2rem;
            margin: 5rem;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        h1 {
            padding: 10px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #EF8606FF;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            width: 100%;
            font-size: 0.75rem;
            letter-spacing: 0.15em;
            transition: all 0.3s ease;
        }
         button:hover {
             border: 6px solid #C26105FF;
        }
         a {
             background-color: orange;
         }
    </style>
    <h3 class="title is-3">Tharsus Price App Admin</h3>


        <h4 class="title is-4">Current Users</h4>

            {% if current_users %}
                <div class="card-content">
                    {% for user in current_users %}
                        <div class="user-card">
                          <h1>{{ user.firstname }} {{ user.surname }}</h1>
                          <p class="title">{{ user.role }} {{ user.id }} </p>
                            <p>{{ user.email }}</p>
                          <button><a href="{{ url_for('admin.delete_user',id=user.id) }}">Delete User</a></button><button>Edit</button>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="POST" action="/view_all_users">
                <div>
                    <button>View All Users</button>
                </div>
            </form>
        </div>
    </div>

{#    <div class="column is-8 is-offset-2" id="test">#}
{#        <h4 class="title is-4">Security Logs</h4>#}
{#        <div class="box">#}
{#            {% if logs %}#}
{#                <div class="field">#}
{#                <table class="table">#}
{#                    <tr>#}
{#                        <th>Last 10 Security Log Entries</th>#}
{#                    </tr>#}
{#                    {% for entry in logs %}#}
{#                        <tr>#}
{#                            <td>{{ entry }}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                </table>#}
{#            {% endif %}#}
{#            <form method="POST" action="/logs">#}
{#                <div>#}
{#                    <button class="button is-info is-centered">View Logs</button>#}
{#                </div>#}
{#            </form>#}
{#            </div>#}
{#        </div>#}


{% endblock %}